In [1]:
#Load modules and import data
import pandas as pd
import numpy as np
data = pd.read_csv("/Users/bburns/Desktop/Analytics/Data Sets/Loan_Prediction_Training.csv", index_col="Loan_ID")

In [2]:
print(data)

          Gender Married Dependents     Education Self_Employed  \
Loan_ID
LP001002    Male      No          0      Graduate            No
LP001003    Male     Yes          1      Graduate            No
LP001005    Male     Yes          0      Graduate           Yes
LP001006    Male     Yes          0  Not Graduate            No
LP001008    Male      No          0      Graduate            No
LP001011    Male     Yes          2      Graduate           Yes
LP001013    Male     Yes          0  Not Graduate            No
LP001014    Male     Yes         3+      Graduate            No
LP001018    Male     Yes          2      Graduate            No
LP001020    Male     Yes          1      Graduate            No
LP001024    Male     Yes          2      Graduate            No
LP001027    Male     Yes          2      Graduate           NaN
LP001028    Male     Yes          2      Graduate            No
LP001029    Male      No          0      Graduate            No
LP001030    Male     Yes          2      Graduate            No
LP001032    Male      No          0      Graduate            No
LP001034    Male      No          1  Not Graduate            No
LP001036  Female      No          0      Graduate            No
LP001038    Male     Yes          0  Not Graduate            No
LP001041    Male     Yes          0      Graduate           NaN
LP001043    Male     Yes          0  Not Graduate            No
LP001046    Male     Yes          1      Graduate            No
LP001047    Male     Yes          0  Not Graduate            No
LP001050     NaN     Yes          2  Not Graduate            No
LP001052    Male     Yes          1      Graduate           NaN
LP001066    Male     Yes          0      Graduate           Yes
LP001068    Male     Yes          0      Graduate            No
LP001073    Male     Yes          2  Not Graduate            No
LP001086    Male      No          0  Not Graduate            No
LP001087  Female      No          2      Graduate           NaN
...          ...     ...        ...           ...           ...
LP002911    Male     Yes          1      Graduate            No
LP002912    Male     Yes          1      Graduate            No
LP002916    Male     Yes          0      Graduate            No
LP002917  Female      No          0  Not Graduate            No
LP002925     NaN      No          0      Graduate            No
LP002926    Male     Yes          2      Graduate           Yes
LP002928    Male     Yes          0      Graduate            No
LP002931    Male     Yes          2      Graduate           Yes
LP002933     NaN      No         3+      Graduate           Yes
LP002936    Male     Yes          0      Graduate            No
LP002938    Male     Yes          0      Graduate           Yes
LP002940    Male      No          0  Not Graduate            No
LP002941    Male     Yes          2  Not Graduate           Yes
LP002943    Male      No        NaN      Graduate            No
LP002945    Male     Yes          0      Graduate           Yes
LP002948    Male     Yes          2      Graduate            No
LP002949  Female      No         3+      Graduate           NaN
LP002950    Male     Yes          0  Not Graduate           NaN
LP002953    Male     Yes         3+      Graduate            No
LP002958    Male      No          0      Graduate            No
LP002959  Female     Yes          1      Graduate            No
LP002960    Male     Yes          0  Not Graduate            No
LP002961    Male     Yes          1      Graduate            No
LP002964    Male     Yes          2  Not Graduate            No
LP002974    Male     Yes          0      Graduate            No
LP002978  Female      No          0      Graduate            No
LP002979    Male     Yes         3+      Graduate            No
LP002983    Male     Yes          1      Graduate            No
LP002984    Male     Yes          2      Graduate            No
LP002990  Female      No          0      Graduate           Yes

          ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
Loan_ID
LP001002             5849                0.0         NaN             360.0
LP001003             4583             1508.0       128.0             360.0
LP001005             3000                0.0        66.0             360.0
LP001006             2583             2358.0       120.0             360.0
LP001008             6000                0.0       141.0             360.0
LP001011             5417             4196.0       267.0             360.0
LP001013             2333             1516.0        95.0             360.0
LP001014             3036             2504.0       158.0             360.0
LP001018             4006             1526.0       168.0             360.0
LP001020            12841            10968.0       349.0             360.0
LP001024             3200              700.0        70.0             360.0
LP001027             2500             1840.0       109.0             360.0
LP001028             3073             8106.0       200.0             360.0
LP001029             1853             2840.0       114.0             360.0
LP001030             1299             1086.0        17.0             120.0
LP001032             4950                0.0       125.0             360.0
LP001034             3596                0.0       100.0             240.0
LP001036             3510                0.0        76.0             360.0
LP001038             4887                0.0       133.0             360.0
LP001041             2600             3500.0       115.0               NaN
LP001043             7660                0.0       104.0             360.0
LP001046             5955             5625.0       315.0             360.0
LP001047             2600             1911.0       116.0             360.0
LP001050             3365             1917.0       112.0             360.0
LP001052             3717             2925.0       151.0             360.0
LP001066             9560                0.0       191.0             360.0
LP001068             2799             2253.0       122.0             360.0
LP001073             4226             1040.0       110.0             360.0
LP001086             1442                0.0        35.0             360.0
LP001087             3750             2083.0       120.0             360.0
...                   ...                ...         ...               ...
LP002911             2787             1917.0       146.0             360.0
LP002912             4283             3000.0       172.0              84.0
LP002916             2297             1522.0       104.0             360.0
LP002917             2165                0.0        70.0             360.0
LP002925             4750                0.0        94.0             360.0
LP002926             2726                0.0       106.0             360.0
LP002928             3000             3416.0        56.0             180.0
LP002931             6000                0.0       205.0             240.0
LP002933             9357                0.0       292.0             360.0
LP002936             3859             3300.0       142.0             180.0
LP002938            16120                0.0       260.0             360.0
LP002940             3833                0.0       110.0             360.0
LP002941             6383             1000.0       187.0             360.0
LP002943             2987                0.0        88.0             360.0
LP002945             9963                0.0       180.0             360.0
LP002948             5780                0.0       192.0             360.0
LP002949              416            41667.0       350.0             180.0
LP002950             2894             2792.0       155.0             360.0
LP002953             5703                0.0       128.0             360.0
LP002958             3676             4301.0       172.0             360.0
LP002959            12000                0.0       496.0             360.0
LP002960             2400             3800.0         NaN             180.0
LP002961             3400             2500.0       173.0             360.0
LP002964             3987             1411.0       157.0             360.0
LP002974             3232             1950.0       108.0             360.0
LP002978             2900                0.0        71.0             360.0
LP002979             4106                0.0        40.0             180.0
LP002983             8072              240.0       253.0             360.0
LP002984             7583                0.0       187.0             360.0
LP002990             4583                0.0       133.0             360.0

          Credit_History Property_Area Loan_Status
Loan_ID
LP001002             1.0         Urban           Y
LP001003             1.0         Rural           N
LP001005             1.0         Urban           Y
LP001006             1.0         Urban           Y
LP001008             1.0         Urban           Y
LP001011             1.0         Urban           Y
LP001013             1.0         Urban           Y
LP001014             0.0     Semiurban           N
LP001018             1.0         Urban           Y
LP001020             1.0     Semiurban           N
LP001024             1.0         Urban           Y
LP001027             1.0         Urban           Y
LP001028             1.0         Urban           Y
LP001029             1.0         Rural           N
LP001030             1.0         Urban           Y
LP001032             1.0         Urban           Y
LP001034             NaN         Urban           Y
LP001036             0.0         Urban           N
LP001038             1.0         Rural           N
LP001041             1.0         Urban           Y
LP001043             0.0         Urban           N
LP001046             1.0         Urban           Y
LP001047             0.0     Semiurban           N
LP001050             0.0         Rural           N
LP001052             NaN     Semiurban           N
LP001066             1.0     Semiurban           Y
LP001068             1.0     Semiurban           Y
LP001073             1.0         Urban           Y
LP001086             1.0         Urban           N
LP001087             1.0     Semiurban           Y
...                  ...           ...         ...
LP002911             0.0         Rural           N
LP002912             1.0         Rural           N
LP002916             1.0         Urban           Y
LP002917             1.0     Semiurban           Y
LP002925             1.0     Semiurban           Y
LP002926             0.0     Semiurban           N
LP002928             1.0     Semiurban           Y
LP002931             1.0     Semiurban           N
LP002933             1.0     Semiurban           Y
LP002936             1.0         Rural           Y
LP002938             1.0         Urban           Y
LP002940             1.0         Rural           Y
LP002941             1.0         Rural           N
LP002943             0.0     Semiurban           N
LP002945             1.0         Rural           Y
LP002948             1.0         Urban           Y
LP002949             NaN         Urban           N
LP002950             1.0         Rural           Y
LP002953             1.0         Urban           Y
LP002958             1.0         Rural           Y
LP002959             1.0     Semiurban           Y
LP002960             1.0         Urban           N
LP002961             1.0     Semiurban           Y
LP002964             1.0         Rural           Y
LP002974             1.0         Rural           Y
LP002978             1.0         Rural           Y
LP002979             1.0         Rural           Y
LP002983             1.0         Urban           Y
LP002984             1.0         Urban           Y
LP002990             0.0     Semiurban           N

[614 rows x 12 columns]

#1 Boolean Indexing

In [3]:
#Show rows with only Female, non-graduates who got loans.  
#Similar to a WHERE clause.
data.loc[(data["Gender"]=="Female") 
         & (data["Education"]=="Not Graduate") 
         & (data["Loan_Status"]=="Y"), ["Gender","Education","Loan_Status"]]

          Gender     Education Loan_Status
Loan_ID
LP001155  Female  Not Graduate           Y
LP001669  Female  Not Graduate           Y
LP001692  Female  Not Graduate           Y
LP001908  Female  Not Graduate           Y
LP002300  Female  Not Graduate           Y
LP002314  Female  Not Graduate           Y
LP002407  Female  Not Graduate           Y
LP002489  Female  Not Graduate           Y
LP002502  Female  Not Graduate           Y
LP002534  Female  Not Graduate           Y
LP002582  Female  Not Graduate           Y
LP002731  Female  Not Graduate           Y
LP002757  Female  Not Graduate           Y
LP002917  Female  Not Graduate           Y

#2 Apply Function
It is one of the commonly used functions for playing with data and creating new variables. Apply returns some value after passing each row/column of a data frame with some function. The function can be both default or user-defined.

In [4]:
# Find the #missing values in each row and column.
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(data.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column


#Applying per row:
print("\nMissing values per row:")
print (data.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

Missing values per column:
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Missing values per row:
Loan_ID
LP001002    1
LP001003    0
LP001005    0
LP001006    0
LP001008    0
dtype: int64

#3 Imputing Values

‘fillna()’ does it in one go. It is used for updating missing values with the overall mean/mode/median of the column.

In [5]:
#Impute the ‘Gender’, ‘Married’ and ‘Self_Employed’ columns with their respective modes.
#First we import a function to determine the mode
from scipy.stats import mode
mode(data['LoanAmount'])

ModeResult(mode=array([ 120.]), count=array([20]))

In [7]:
#Determine pivot table
impute_grps = data.pivot_table(values=["LoanAmount"], index=["Gender","Married","Self_Employed"], aggfunc=np.mean)
print(impute_grps)

                              LoanAmount
Gender Married Self_Employed
Female No      No             110.596774
               Yes            125.800000
       Yes     No             135.480000
               Yes            282.250000
Male   No      No             128.137255
               Yes            173.625000
       Yes     No             151.709220
               Yes            169.355556