## INSTRUCTIONS (MAC)

1. Make sure to log in to VPN to access the database
    -  Connect to Tunnelblick, a GUI to use OpenVPN
    -  OpenVPN: password1
2. If necessary, this goes in terminal:
    -  tsql -S MYMSSQL -U username -P password2
3. Must open each SQL query with:
    -  conn = pyodbc.connect('DSN=MYMSSQL;UID=username;PWD=password2')
    -  cursor = conn.cursor()
4. Must close each SQL query with the following to get the query to execute. Cannot leave the cursor open since it will get confused and result in an error.
    -  cursor.close()
    -  conn.close()

# Instructions PC

1. VPN in to SMC.
2. Must open each SQL query with (uses Windows authentication): 
    conn = pyodbc.connect('Trusted_Connection=yes', driver = '{SQL Server}',server = 'smc-sql-2014,1434\phi ', database = 'DataBridge_Ben')
    cursor = conn.cursor()
3. After setting up connection and cursor, queries can be defined and fetched like so:
    querystring = "select TOP 1000 * FROM BBAB_ActivePersonDetail"
    cursor.execute(querystring)
    result_set = cursor.fetchall() 
4. Have fun!

### Helpful Links
-  https://github.com/mkleehammer/pyodbc/wiki/Connecting-to-SQL-Server-from-Mac-OSX
-  https://github.com/mkleehammer/pyodbc/wiki/Objects
-  https://gist.github.com/arvsrao/5432047
-  https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed
-  http://www.pythonforbeginners.com/cheatsheet/python-glossary
-  https://www.codecademy.com/articles/glossary-python
-  https://jupyter.brynmawr.edu/services/public/dblank/Jupyter%20Notebook%20Users%20Manual.ipynb#4.-Using-Markdown-Cells-for-Writing
-  https://machinelearningmastery.com/quick-and-dirty-data-analysis-with-pandas/
-  http://bigdata-madesimple.com/exploratory-data-analysis-in-python-using-pandas-matplotlib-and-numpy/
-  http://pythonplot.com/
-  https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html
-  https://tryolabs.com/blog/2017/03/16/pandas-seaborn-a-guide-to-handle-visualize-data-elegantly/
-  https://www.datacamp.com/community/tutorials/matplotlib-tutorial-python
-  https://elitedatascience.com/python-seaborn-tutorial
-  http://hamelg.blogspot.com/2015/12/python-for-data-analysis-index.html?q=python+for+data+analysis
-  https://chrisalbon.com/python/data_wrangling/pandas_create_column_using_conditional/
-  http://greenteapress.com/wp/think-stats-2e/

In [ ]:
# Connection example for Mac

# Enable connection to ODBC databases 
import pyodbc

# Connect to datasource
conn = pyodbc.connect('DSN=MYMSSQL;UID=username;PWD=password2!')
## the DSN value should be the name of the entry in odbc.ini, not freetds.conf

# Create cursor associated with connection
cursor = conn.cursor()

# Show version of SQL Server
version = cursor.execute("select @@VERSION").fetchall()
print(version)

In [1]:
# Connection and Query String example for PC with Windows Auth
import pyodbc
import pandas as pd

# Connect to datasource
conn = pyodbc.connect('Trusted_Connection=yes', driver = '{SQL Server}',server = 'smc-sql-2014,1434\phi ', database = 'DataBridge_Ben')

# Create cursor associated with connection
cursor = conn.cursor()

In [2]:
# Query to SQL database that cursor can execute on
querystring = "SELECT TOP 1000 * FROM DataBridge_Ben.dbo.BBABBS_ActivePersonDetail"

# Execute cursor on query string
cursor.execute(querystring)

In [ ]:
# Print columns from database
columns = [column[0] for column in cursor.description]
print(columns)

In [ ]:
cursor.close()
conn.close()
# These are necessary since creating the df a couple cells below requires a new conn

In [ ]:
conn = pyodbc.connect('DSN=MYMSSQL;UID=username;PWD=password2')
cursor = conn.cursor()

In [4]:
## Use pandas to insert directly into a pandas dataframe
import pandas as pd

df = pd.read_sql(querystring,conn)

In [ ]:
cursor.close()
conn.close()
# Not sure these are necessary here as the code seems to run just fine without them

In [5]:
# Get summary statistics for each variable
df.describe()

,ActivePersonKey,PersonID,DateMonthlyKey,IsActive,YearsOfAge,AnnualIncome,Student,Veteran,Farmer,Disabled,...,Blind,HearingImpaired,DOCHealthInsurance,GenericHealthInsurance,PrivateHealthInsurance,NoHealthInsurance,HUSKYD,ProficientCommunicatinginEnglish,SocialSecurity,SSI
count,5.417660e+05,541766.000000,541766.000000,541766.0,541736.000000,140865.00000,541766.000000,541766.000000,541766.000000,541766.000000,...,541766.000000,541766.000000,541766.000000,541766.000000,541766.000000,541766.000000,541766.0,541766.0,541766.0,541766.0
mean,6.417104e+06,95067.514340,112.313432,1.0,40.462074,17569.41962,0.022163,0.007289,0.000319,0.050503,...,0.000113,0.000126,0.004533,0.485560,0.004502,0.037660,0.0,0.0,0.0,0.0
std,3.876540e+06,54445.941499,1.150558,0.0,24.497313,12559.40318,0.147213,0.085065,0.017867,0.218981,...,0.010610,0.011203,0.067177,0.499792,0.066945,0.190373,0.0,0.0,0.0,0.0
min,1.200000e+01,1.000000,111.000000,1.0,-32.000000,1.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.676476e+06,47741.000000,111.000000,1.0,20.000000,9036.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,8.198266e+06,96638.000000,112.000000,1.0,39.000000,14933.28000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,1.037716e+07,143699.000000,113.000000,1.0,57.000000,22880.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,1.069189e+07,185314.000000,114.000000,1.0,241.000000,581952.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0

In [ ]:
# View data types of each variable--DeceasedDate has all NULL values
df.info() # can also do df.dtypes, but this does not show the number and non-null

In [ ]:
# Quick way to see the frequency of integer variables
df.GenderDescription.value_counts()

In [ ]:
df.Veteran.value_counts()

In [ ]:
# Import other libraries
import numpy as np

import matplotlib.pyplot as plt

# Use this to ensure the plot actually shows!
%matplotlib inline

import seaborn as sns

In [ ]:
# Create boxplot
plt.style.use = 'default'
df.boxplot()

### Note
Adding ; to a plotting method, like df.hist(), suppresses the object output
i.e., <matplotlib.axes._subplots.AxesSubplot at 0x1136b1fd0>

In [ ]:
# Create new df excluding ActivePersonKey and PersonID--too many unique values to plot
df_new = df.iloc[:,2:]
df_new.head() # or tail

In [ ]:
# This is more readable, but a boxplot is not ideal for many of these variables
df_new.boxplot();

In [ ]:
df.hist();

In [ ]:
df.groupby('GenericHealthInsurance').AnnualIncome.hist(alpha=0.5, color = "steelblue");

In [ ]:
df[df.GenderDescription=='Female'].YearsOfAge.hist(alpha=0.5);

In [ ]:
df[df.GenderDescription=='Male'].YearsOfAge.hist(alpha=0.5);

In [ ]:
df.groupby('GenderDescription').YearsOfAge.hist(alpha=0.5); # Blue = Female, Green = Male

In [ ]:
# See summary stats for ages
df['YearsOfAge'].describe()

In [ ]:
df.AgeRange.value_counts()

In [ ]:
# NOT THE BEST BINNING TECHNIQUE
# Create bins for ages:
# 0-17 = minors
# 18-25 = young_adults
# 26-44 = mid_career
# 45-61 = peak_career
# 62-75 = ss_eligible
# 76+ = elderly
bins = [0, 18, 26, 45, 62, 76] # looks like I might have to use range to get ages > 76 to fall in a bin
df_new['AgeBins'] = pd.cut(df['YearsOfAge'], bins)

In [ ]:
df_new.head()